__pycache__/
experiment/__pycache__
.ipynb_checkpoints/
myenv/
runs/
experiment/performance/*json
experiment/models/finetune/*.pth.tar
experiment/models/pretrain/*.pth.tar
experiment/predictions
Hyperspectral oil spill detection datasets/
Hyperspectral oil spill detection datasets.rar
simsiam/simsiam/__pycache__/
simsiam/simsiam/simsiam/__pycache__/
simsiam/simsiam/models/
simsiam/simsiam/hasil_prediksi_matiks/
simsiam/simsiam/model_best.pth.tar
simsiam/simsiam/predictions/
simsiam/simsiam/linux/predictions
simsiam/simsiam/windows/predictions
jupyterlab.log
simsiam/simsiam/TESTING/MyMethod/predictions/
simsiam/simsiam/TESTING/LR/predictions/
simsiam/simsiam/TESTING/RF/predictions/
simsiam/simsiam/TESTING/SVM/predictions/
simsiam/simsiam/TESTING/1DCNN/predictions/
simsiam/simsiam/TESTING/2DCNN/predictions/
simsiam/simsiam/TESTING/HybridSN/predictions/
simsiam/simsiam/TESTING/MyMethod/model_best.pth.tar
simsiam/simsiam/TESTING/new_mymethod/predictions/
simsiam/simsiam/TESTING/final_method/predictions